<!DOCTYPE html>
<html>
<head>
    <title>NAb Data Summary Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</head>
<body>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Run number</th>
        <th>Sample Number</th>
        <th>Subject ID</th>
        <th>Visit Name</th>
        <th>Collection Date</th>
        <th>MIN Average</th>
        <th>MAX Average</th>
        <th>MAX.EV Average</th>
        <th>FACT 1:100 Average</th>
        <th>MIN %CV</th>
        <th>MAX %CV</th>
        <th>MAX.EV %CV</th>
        <th>FACT 1:100 %CV</th>
        <th>%I.MAX FACT 1:100</th>
        <th>EV interference (MAX/MAX.EV)</th>
        <th>EV efficiency (FACT1:100/FACT 1:100EV)</th>
        <th>S/N</th>
        <th>S 1:1 %I.MAX</th>
        <th>S 1:2.5 %I.MAX</th>
        <th>S 1:5 %I.MAX</th>
        <th>S 1:10 %I.MAX</th>
        <th>S 1:100 %I.MAX</th>
        <th>S 1:1000 %I.MAX</th>
        <th>S 1:1 %I.EV</th>
        <th>S 1:2.5 %I.EV</th>
        <th>S 1:5 %I.EV</th>
        <th>S 1:10 %I.EV</th>
        <th>S 1:100 %I.EV</th>
        <th>S 1:1000 %I.EV</th>
        <th>NAb Titer</th>
        <th>Justify if result is invalid</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].RunNumber %></td>
        <td><%= result[i].SampleNumber %></td>
        <td><%= result[i].SubjectID %></td>
        <td><%= result[i].VisitName %></td>
        <td><%= result[i].CollectionDate %></td>
        <td><%= result[i].MINAverage %></td>
        <td><%= result[i].MAXAverage %></td>
        <td><%= result[i].MAXEVAverage %></td>
        <td><%= result[i].FACT1To100Average %></td>
        <td><%= result[i].MINCVPercentage %></td>
        <td><%= result[i].MAXCVPercentage %></td>
        <td><%= result[i].MAXEVCVPercentage %></td>
        <td><%= result[i].FACT1To100CVPercentage %></td>
        <td><%= result[i].PercentageIMAXFACT1To100 %></td>
        <td><%= result[i].EVInterferenceMAXMAXEV %></td>
        <td><%= result[i].EVEfficiencyFACT1To100FACT1To100EV %></td>
        <td><%= result[i].SN %></td>
        <td><%= result[i].S1To1IMAXPercentage %></td>
        <td><%= result[i].S1To2Point5IMAXPercentage %></td>
        <td><%= result[i].S1To5IMAXPercentage %></td>
        <td><%= result[i].S1To10IMAXPercentage %></td>
        <td><%= result[i].S1To100IMAXPercentage %></td>
        <td><%= result[i].S1To1000IMAXPercentage %></td>
        <td><%= result[i].S1To1IEVPercentage %></td>
        <td><%= result[i].S1To2Point5IEVPercentage %></td>
        <td><%= result[i].S1To5IEVPercentage %></td>
        <td><%= result[i].S1To10IEVPercentage %></td>
        <td><%= result[i].S1To100IEVPercentage %></td>
        <td><%= result[i].S1To1000IEVPercentage %></td>
        <td><%= result[i].NAbTiter %></td>
        <td><%= result[i].JustifyIfResultisInvalid %></td>
    </tr>
    <% } %>
    </tbody>
</table>
<form action="/home">
    <input type="submit" value="Back to Home">
</form>
<form action="/nabDataSummary/download">
    <input type="submit" value="Download NAb Data Summary Result">
</form>
</body>
</html>
