<!DOCTYPE html>
<html>
<head>
    <title>Wes Sample Analysis Data Summary Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</head>
<body>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Run number</th>
        <th>Sample Number</th>
        <th>Subject ID</th>
        <th>Visit Name</th>
        <th>Collection Date</th>
        <th>MIN Average</th>
        <th>MAX Average</th>
        <th>MAX.EV Average</th>
        <th>FACT 1:100 Average</th>
        <th>MIN %CV</th>
        <th>MAX %CV</th>
        <th>MAX.EV %CV</th>
        <th>FACT 1:100 %CV</th>
        <th>%I.MAX FACT 1:100</th>
        <th>EV interference (MAX/MAX.EV)</th>
        <th>EV efficiency (FACT1:100/FACT 1:100EV)</th>
        <th>S/N</th>
        <th>S 1:1 %I.MAX</th>
        <th>S 1:2.5 %I.MAX</th>
        <th>S 1:5 %I.MAX</th>
        <th>S 1:10 %I.MAX</th>
        <th>S 1:100 %I.MAX</th>
        <th>S 1:1000 %I.MAX</th>
        <th>S 1:1 %I.EV</th>
        <th>S 1:2.5 %I.EV</th>
        <th>S 1:5 %I.EV</th>
        <th>S 1:10 %I.EV</th>
        <th>S 1:100 %I.EV</th>
        <th>S 1:1000 %I.EV</th>
        <th>NAb Titer</th>
        <th>Justify if result is invalid</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].RunNumber %></td>
        <td><%= result[i].TimePoint %></td>
        <td><%= result[i].AnimalID %></td>
        <td><%= result[i].ConcngPermL %></td>
        <td><%= result[i].Dilution %></td>
        <td><%= result[i].AdjustedConcngPermL %></td>
        <td><%= result[i].Comment %></td>
    </tr>
    <% } %>
    </tbody>
</table>
<form action="/home">
    <input type="submit" value="Back to Home">
</form>
<form action="/nabDataSummary/download">
    <input type="submit" value="Download NAb Data Summary Result">
</form>
</body>
</html>
