<!DOCTYPE html>
<html>
<head>
    <title>Raw Data Aggregation Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>
</head>
<body>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>ExtractionNumber</th>
        <th>PCRRunNumber</th>
        <th>ExtractionSampleNumber</th>
        <th>PunchNumber</th>
        <th>AnimalID</th>
        <th>TissueorSampleType</th>
        <th>CollectionDate</th>
        <th>DNAPerrxn</th>
        <th>SampleName</th>
        <th>WellPosition</th>
        <th>CtMean</th>
        <th>CtSD</th>
        <th>QuantityMean</th>
        <th>QuantitySD</th>
        <th>QtyCVPercent</th>
        <th>CNPerug</th>
        <th>Flag</th>
        <th>QC</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < result.length; i++) { %>
    <tr>
        <td><%= result[i].ExtractionNumber %></td>
        <td><%= result[i].PCRRunNumber %></td>
        <td><%= result[i].ExtractionSampleNumber %></td>
        <td><%= result[i].PunchNumber %></td>
        <td><%= result[i].AnimalID %></td>
        <td><%= result[i].TissueorSampleType %></td>
        <td><%= result[i].CollectionDate %></td>
        <td><%= result[i].DNAPerrxn %></td>
        <td><%= result[i].SampleName %></td>
        <td><%= result[i].WellPosition %></td>
        <td><%= result[i].CtMean %></td>
        <td><%= result[i].CtSD %></td>
        <td><%= result[i].QuantityMean %></td>
        <td><%= result[i].QuantitySD %></td>
        <td><%= result[i].QtyCVPercent %></td>
        <td><%= result[i].CNPerug %></td>
        <td><%= result[i].Flag %></td>
        <td><%= result[i].QC %></td>
    </tr>
    <% } %>
    </tbody>
</table>
<a href="/home">Home</a>
</body>
</html>
